{% extends 'root.html' %}
{% block content %}
<!-- Main content -->
{% if current_user.is_admin %}
  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{count_position}}</h3>
            <p>No. of Positions</p>
          </div>
          <div class="icon">
            <i class="fa fa-tasks"></i>
          </div>
          <a href="{{url_for('positions')}}" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{count_candidates}}</h3>          
            <p>No. of Candidates</p>
          </div>
          <div class="icon">
            <i class="fa fa-black-tie"></i>
          </div>
          <a href="{{url_for('candidates')}}" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{count_voters}}</h3>             
            <p>Total Voters</p>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <a href="{{url_for('voters')}}" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-primary">
          <div class="inner">
            <h3>{{total_votes}}</h3>
            <p>Total Votes</p>
          </div>
          <div class="icon">
            <i class="fa fa-edit"></i>
          </div>
          <a href="{{url_for('votes')}}" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <h2 style="font-style: bold; margin: 20px;">Approve Voters</h2>
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table id="example1" class="table table-bordered table-hover table-striped">
                  <thead class="table-dark">
                      <th>Name</th>
                      <th>Reg No</th>
                      <th>Student ID</th>
                      <th>Email</th>
                      <th>Status</th>
                      <th>Action</th>
                  </thead>
                  <tbody>
                    {% for voter in voters %}
                      {% if not voter.is_admin %}
                        <tr>
                          <td>{{voter.first_name}} {{voter.last_name}}</td>
                          <td style="">{{voter.reg_no.upper()}}</td>
                          <td><img src="{{voter.student_id}}" width="80" height="80"></td>
                          <td>{{voter.email}}</td>
                          <td>
                            <button class='btn {{"btn-primary" if voter.is_approved else "btn-warning"}} btn-sm edit btn-flat rounded text-light'>
                              {{'verified' if voter.is_approved else 'Pending'}}
                            </button>
                          </td>
                          <td class="center d-flex w-100 gap-2">
                            {% if not voter.approved %}
                                <form action="{{ url_for('verify', user_id=voter.id) }}" method="POST">
                                    <button type="submit" class="btn btn-success btn-sm edit btn-flat {{'d-none' if voter.is_approved else 'd-block'}}"><i class="fa fa-check"></i> verify</button>
                                </form>
                            {% endif %}
                            <button type="button" class='btn btn-danger btn-sm delete btn-flat'
                              data-bs-toggle="modal" data-bs-target="#exampleModal{{voter.id}}"><i
                                class='fa fa-times'></i> Cancel</button>
                          </td>
                        </tr>
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal{{voter.id}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel approval</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Are you sure you want to cancel the approval of voter?<p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form action="{{url_for('cancel_verification', user_id=voter.id)}}" method="POST">
                                      <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                  </div>
                                </div>
                              </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </section>
{% endif %}
{% endblock content %}