{% extends 'root.html' %}
{% block content %}
{% if current_user.is_admin %}
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body">
            <table id="example1" class="table table-bordered table-hover table-striped">
              <thead class="table-dark">
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Reg No.</th>
                    <th>Email</th>
                    <th>Status</th>
              </thead>
              <tbody>
                {% for voter in voters %}
                  {% if not voter.is_admin %}
                    <tr>
                      <td>{{ voter.id }}</td>
                      <td>{{ voter.first_name }}</td>
                      <td>{{ voter.last_name }}</td>
                      <td>{{ voter.reg_no.upper() }}</td>
                      <td>{{ voter.email }}</td>
                      <td>
                        <button class='btn {{"btn-primary" if voter.is_approved else "btn-warning"}} btn-sm edit btn-flat rounded text-light'>
                          {{'verified' if voter.is_approved else 'Pending'}}
                        </button>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %} 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% endblock content %}
