<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      {% include "navbar.html" %}
        
      {% include "sidebar.html" %}
      
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          
        </section>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" id="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}
        
        {% endblock content %}
      </div>
      {% include "footer.html" %}
    </div>
    {% include "scripts.html"%}
  </body>
</html>
